/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-toolbar{
    border: 3px solid yellowgreen;
    font-weight: bold;
    justify-content: center;
}

.yellow{
    color: yellow;
}