<div class="bandeiras-main">
    FOTOS DAS BANDEIRAS DOS TIMES
</div>

<div class="bandeiras-main">
    Buscando informações sobre a Copa 2022?
    Veio ao lugar certo :D
</div>

<mat-grid-list cols="2" rowHeight="2:1">
    <div>
        
            <mat-grid-tile mat-grid-tile class="card-informacoes">
                <a href="http://localhost:4200/informacoes"> 
                <mat-grid-tile-header>
                    Mais informações sobre os times da Copa 2022
                </mat-grid-tile-header> 
                <div info-imagem>
                    <img src="assets/img/info.png" alt="">
                </div>
            </a>
            </mat-grid-tile>
       
    </div>



    <mat-grid-tile mat-grid-tile> 2 </mat-grid-tile>
    <mat-grid-tile mat-grid-tile> 3 </mat-grid-tile>
    <mat-grid-tile mat-grid-tile> 4 </mat-grid-tile>
    <mat-grid-tile mat-grid-tile> 5 </mat-grid-tile>
    <mat-grid-tile mat-grid-tile> 6 </mat-grid-tile>
</mat-grid-list>